body{
    margin: 0;
    padding: 0;

}
.mydiv1{
    width: 400px;
    height: 250px;
    background-color: aqua;
  
}
.mydiv2{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
   
}